body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  background: var(--NAVY-BLUE, #2e2f42);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.header-ul-spc {
  font-family: "500";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.125em;
  color: #2e2f42;
}
.header-spd-link:hover,
.header-spd-link:focus {
  color: #404bbf;
}

.header-spd-link {
  font-family: "500";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.button {
  font-family: "500";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.125;
  color: #4d5ae5;
  cursor: pointer;
}
.header-Portfolio-link {
  font-family: "500";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.125;
  color: #4d5ae5;
}
.header-Contacts-link:hover,
.header-Contacts-link:focus {
  color: #404bbf;
}

.header-Contacts-link {
  font-family: "500";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-adres {
  font-style: normal;
}
.sektone {
  background-color: #2e2f42;
}
.spdt {
  font-family: "500";
  font-size: 20px;
  letter-spacing: 0.1;
  color: #2e2f42;
}

.Our-Team {
  font-family: "700";
  font-size: 36px;
  letter-spacing: 0.056;
  color: #2e2f42;
}
.section-tiem {
  background: var(--CLOUD, #f4f4fd);
}
.hero {
  font-family: "500";
  font-size: 20px;
  letter-spacing: 0.1;
  color: #2e2f42;
}
.section-our-portfolio {
  background: #fff;
}
.Our-Portfolio {
  font-family: "700";
  font-size: 36px;
  letter-spacing: 0.056;
  color: #2e2f42;
}

.servis {
  font-family: "500";
  font-size: 20px;
  letter-spacing: 0.1;
  color: #2e2f42;
}
